.contact-info {
    border: 1px solid red;
    margin: 10px;
}

.contact-info p {
    padding: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.important {
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid #000000;
}

.blue {
    color: blue;
}

.rectangle {
    width: 400px;
    height: 100px;
    border: 1px solid #000000;
    background-color: yellow;
    padding: 10px;
    
}